/*GENERAL STYLE*/

h3 {
    font-size: 18px;
    font-weight: 500;
}

h2 {
    color: #1886c7;
    font-size: 32px;
    font-weight: 400;
    text-transform: uppercase;
}

p {
    font-size: 14px;
}

/*HOME SECTION*/

.navbar {
    border-bottom: 1px solid #1886c7;
}

.navbar .navbar-brand {
    color: #1886c7;
    font-size: 22px;
}

.bg-dark {
    background-color: rgba(0, 0, 0, 1) !important;
}

.nav-link {
    color: white !important;
    transition: color .3s ease;
}

.nav-link:hover {
    color: #1886c7 !important;
}

.nav-link small, i {
    color: #1886c7;
}

#headerSection {
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
}

#headerSection .overlay {
    background: rgba(0, 0, 0, .3);
}

#headerSection .row {
    height: 100vh;
}

#headerSection span {
    color: #1886c7 !important;
}

/*FEATURE SECTION*/

#features i {
    font-size: 30px;
}

.feature-top {
    transition: color .3s ease;
}

.feature-top:hover {

    color: #1886c7;
    cursor: pointer;
}

/*HISTORY Section*/

#outHistory h2 {
    border-left: 6px solid #1886c7;
    padding-left: 30px;
}

#outHistory .col-md-6 {
    display: inline;
}

#outHistory .btn-outline-primary {
    position: absolute;
    bottom: 0;
}

#outHistory p {
    line-height: 22px;
}

#team .card {
    border: none;
    opacity: .7;
    cursor: pointer;
    transition: all .5s ease;
}

#team .card:hover {
    opacity: 1;
}

#team i {
    font-size: 22px;
}

/*What We Do Section*/

#whatWeDo {
    background: linear-gradient(
            rgba(0, 0, 0, .7),
            rgba(0, 0, 0, .7)
    ),
    url("../images/code.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*CaseStudy*/

#caseStudy {
    background-color: #f4f5f9;
    line-height: 28px;
}

.caseArea {
    background-color: #fff;
    margin-top: 40px;
    margin-right: -40px;
    z-index: 100;
    padding: 40px;
    position: relative;
    min-height: 420px;
}

#caseStudy h3 {
    font-size: 1.5em;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #1886c7;
}

#caseStudy img {
    margin-left: -20px;
}

/*Portfolio*/

#portfolio .col-md-3 {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

#portfolio h4 {
    font-size: 16px;
    font-weight: 300;
}

#portfolio p {
    font-size: 14px;
    font-weight: 300;
}

.imageContainer {
    position: relative;
    cursor: pointer;
}

.imageOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: #1886c7;
    opacity: 0;
    transition: .7s ease;
}

.imageContainer:hover .imageOverlay {
    opacity: .6;
}

.imageText {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.imageContainer i {
    color: white;
    margin-bottom: 10px;
}